/* body{
    padding: 0;
    margin: 0;
} */

:root{
    --th_table: #e3e3e3e3;
    --set_padding: 10px;
    --set_border: 1px solid #333333;
    --putih: #ffffff;
    --sat_44per: 44%;
}

table{
    width: 100%;
    border-collapse: collapse;
}

th{
    background: var(--th_table);
    padding: calc(var(--set_padding)*5);
    font-size: 1.5vw;
}

td{
    background: var(--putih);
    padding: var(--set_padding);
}

th, td{
    height: 40px;
    border: var(--set_border);
}

.area-menu{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    /* flex-direction: column;
    align-items: center;
    height: 300px;
    background-color: #ffcc00; */
}

.btn-primary{
    background: #333333;
    color: var(--putih);
}

.btn-secondary{
    background: var(--putih);
    color: #333333;
}

.btn-primary, .btn-secondary{
    height: 40px;
    width: 120px;
    margin-left: var(--set_padding);
    border-radius: 25px;
    border: var(--set_border);
    outline: 0;
    cursor: pointer;
}

.area-aksi{
    width: 100%;
    display: flex;
}

.btn-edit{
    margin-right: 4%;
    background: #8013da;
}

.btn-hapus{
    margin-left: 4%;
    background: #d3111e;
}

.btn-edit, .btn-hapus {
    width: var(--sat_44per);
    border-radius: var(--set_padding);
    color: var(--putih);
    border: none;
    height: 30px;
    outline: 0;
    cursor: pointer;
}

.item-label1, .item-input1, .item-error1,
.item-label2, .item-input2, .item-error2,
.item-label3, .item-input3, .item-error3,
.item-label4, .item-input4, .item-error4{
    display: grid;
    min-height: 40px;
    align-items: center;
}

.item-label1{
    grid-area: label1;
}

.item-input1{
    grid-area: input1;
}

.item-error1{
    grid-area: error1;
}

.item-label2{
    grid-area: label2;
}

.item-input2{
    grid-area: input2;
}

.item-error2{
    grid-area: error2;
}

.item-label3{
    grid-area: label3;
}

.item-input3{
    grid-area: input3;
}

.item-error3{
    grid-area: error3;
}

.item-label4{
    grid-area: label4;
}

.item-input4{
    grid-area: input4;
}

.item-error4{
    grid-area: error4;
}

.area-grid{
    width: 100%;
    display: grid;
    grid-template-areas: 
    'label1 input1 input1 error1'
    'label2 input2 input2 error2'
    'label3 input3 input3 error3'
    'label4 input4 input4 error4';
    grid-gap: 10px;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    grid-auto-columns: 1fr;
}

.item-label1, .item-label2, .item-label3, .item-label4{
    justify-content: end;
}

.text-input, .select-input{
    border: var(--set_border);
    border-radius: calc(var(--set_padding)*3);
    height: calc(var(--set_padding)*4);
    padding: 0 var(--set_padding);
    outline: 0;
}

.select-input{
    background: var(--putih);
}

.text-input, .select-input{
    transition: 0.5s;
}

.text-input:focus, .text-input:hover,
.select-input:focus, .select-input:hover{
    border: 1px solid #000000;
    box-shadow: 0 3px 3px #3b3b3b9e;
}

.error-info{
    font-size: 15px;
    font-weight: bold;
    color: red;
    display: none;
}